<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Stock Checker</h1>
    <form method="post" action="/stockInfo">

        <label for="">Api Key: </label>
        <input type="text" name="apiKey">
        <br>
        <label for="">Ticker Symbol</label>
        <input type="text" name="ticker">
        <br>
        <button>Submit</button>
    </form>

    <a href="stockInfo">click here</a>
</body>
</html>